body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error,
label.error {
    color: red;
}

.input-validation-error,
input.error {
    border: 2px solid red;
}

.table > thead > tr > td.summary,
.table > tbody > tr > td.summary,
.table > tfoot > tr > td.summary,
.table > thead > tr > th.summary,
.table > tbody > tr > th.summary,
.table > tfoot > tr > th.summary,
.table > thead > tr.summary > td,
.table > tbody > tr.summary > td,
.table > tfoot > tr.summary > td,
.table > thead > tr.summary > th,
.table > tbody > tr.summary > th,
.table > tfoot > tr.summary > th {
    background-color: lightskyblue;
    border-color: black;
}