@model LoanCalculator.Data.Models.LoanType

<p>Details of choosen type of loan:</p>
<ul>
    <li>Interest Rate: @Model.InterestRate</li>
    <li>DueTime: @Model.DueTime</li>
    <li>Payment Interval: @Model.PaymentInterval.Name</li>
    <li>Rate Interval: @Model.RateInterval.Name</li>
</ul>